.auth-container{

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    background:
    linear-gradient(
    135deg,
    #EEF2FF,
    #F8FAFC
    );

}

.auth-card{

    width:100%;

    max-width:450px;

    border:none;

    border-radius:20px;

    box-shadow:
    0 20px 50px rgba(0,0,0,.08);

}

.auth-logo{

    font-size:42px;

    font-weight:800;

    color:var(--primary);

    white-space:nowrap;

}

.auth-subtitle{

    color:var(--text-light);

}