{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<div class="row">

    <div class="col-md-3 mb-3">
        <div class="card shadow-sm">
            <div class="card-body">
                <h6>Total Balance</h6>
                <h3>₹0</h3>
            </div>
        </div>
    </div>

    <div class="col-md-3 mb-3">
        <div class="card shadow-sm">
            <div class="card-body">
                <h6>Total Income</h6>
                <h3>₹0</h3>
            </div>
        </div>
    </div>

    <div class="col-md-3 mb-3">
        <div class="card shadow-sm">
            <div class="card-body">
                <h6>Total Expenses</h6>
                <h3>₹0</h3>
            </div>
        </div>
    </div>

    <div class="col-md-3 mb-3">
        <div class="card shadow-sm">
            <div class="card-body">
                <h6>Savings</h6>
                <h3>₹0</h3>
            </div>
        </div>
    </div>

</div>

{% endblock %}